<section class="index">
    <article class="hello-iam">
        <h3>Olá!</h3>
        <h1>Eu sou o Daniel</h1>
        <h3>Um artesão de software</h3>
    </article>

    <article>
        <h3>O que eu faço:</h3>
        <p>
            Construo aplicações que respiram e vivem na web, estudo desenvolvimento de software durante a noite e reduzo o estoque nacional de cafeínas de múltiplas formas.
        </p>
    </article>


    <article>
        <h3>Onde trabalho:</h3>
        <p>
            Sou um dos desenvolvedores na PC Sistemas by TOTVS na área de Engenharia e Inovação, em Goiânia, Brasil.<br/> Trabalhamos todos os dias para atender nossos clientes com todo o cuidado e carinho. Oferecemos várias soluções de negócio para os ramos de Distribuição e Varejo e suas várias ramificações.
        </p>
        <p><a href="/experiencias">Experiencias passadas</a></p>
    </article>

    <article>
        <h3>Tecnologias favoritas</h3>
        <p>
            <ul>
                <li>asdasd</li>
                <li>asdasdasda</li>
                <li>asdasd</li>
                <li>asdasd</li>
                <li>asdasd</li>
            </ul>
        </p>
    </article>

    <article>
        <h3>Outros assuntos de corredor:</h3>
        <p>
            <ul>
                <li>Evolução, Filogenia e Dinossauros</li>
                <li>Notícias socio-politico-econômico-culturais-oh-god</li>
                <li>Os grandes impérios <a href="https://www.youtube.com/watch?v=szxPar0BcMo">&#x21aa;</a></li>
                <li>Astrofísica, alguma Física, alguma Química</li>
                <li>asdasd</li>
            </ul>
        </p>
    </article>
</section>
